# Dependencies
node_modules
.pnpm-store

# Production build outputs
dist
dist-ssr
*.local

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# IDE & System files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?
